STUDIO_LOGIN_DATABASE_URL=mysql://root@127.0.0.1:3307/studio_login
STUDIO_LOGIN_ACCOUNT_ID=studio
STUDIO_LOGIN_ADMIN_USERNAME=admin
STUDIO_LOGIN_ADMIN_PASSWORD=
LAS_STUDIO_INTEGRATION_TOKEN=replace-with-at-least-32-characters
